
@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<button 
        data-toggle="modal" data-target="#modal-categoria"
        class="btn btn-primary mb-3">Nova Pessoa</button>

<table id="pessoa-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ação</th>
        </tr>
    </thead>

</table>

@RenderPage("CadastroModal.cshtml")

@section js{
<script src="~/Scripts/Pessoa/pessoa.js"></script>
}

